@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #EC6F66;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



.mainfontStyle {
  font-family: 'Caladea', serif;
}

.titlefontStyle{
  font-family: 'Bruno Ace', cursive;
}


.secondLine {
  background: -webkit-linear-gradient(#07c01f, #83ff7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.titleColor {
  background: -webkit-linear-gradient(#FFEEEE, #DDEFBB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#shad {
  --tw-shadow-color:  #004626;
  --tw-shadow:  var(--tw-shadow-colored);
}